body {
    margin: 0;
    text-align: center;
    font-family: "Lato",verdana, sans-serif;
    font-size: 1.5em;
}
h1 {
    margin-top: 50px auto 0 auto;
    font-size: 5.625rem;
    color:#66BFBF;
    line-height: 2;
    /*ponieważ w przeglądarce można ustawić dynamicznie wiekszy font (dla slabo widzących)
    i jakbym ustawil to w 90px to by było statyczne i osoby niedowidzace by nie mogly tego powiekszyc
    przy procentach nie ma tego problemu, są dynamiczne. Ekwiwalentem 90px będzie 562,5% ponieważ
    16 px = 100%; 90px/16px=562.5 można też 5.625em, ponieważ też zmienia się dynamicznie wedle
    ustawien przegladarki konsumenta
    rem zamiast em służy temu żeby dany selektor miał rozmiar czcionki niepowiązany z ustalonym przez parenta
    tutaj chociazby body ma 2em wiec by sie połączyło i powstałby nadmiernie ogromny tekst, dlatego warto używać
    REM zamiast EM :))*/
}

h2{
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    color: #11999E;
}

a {
    color: #11999E;
}

.top-container {
    background-color: #A66CFF;
    position: relative;
    padding-top: 100px;
}

.middle-container {

}

.bottom-container{
    padding-top: 50px;
}

.pro{
    text-decoration: underline;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.site-images{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chilli-images{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
